html {
  font-family: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 38em) {
  html {
    font-size: 19px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.message {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 0.25rem;
}

code,
pre {
  font-family: "source-code-pro", Menlo, Monaco, "Courier New", monospace;
  background-color: white;
  border: 1px solid #e6e6e6;
}

pre {
  border-radius: 0.25rem;
}

code {
  padding: 0 0.15rem;
  font-size: 0.8rem;
  color: #898989;
}

pre code {
  border: 0;
}

blockquote {
  border-left-color: #e6e6e6;
  border-left-width: 0.15rem;
}

.post-date {
  display: block;
  color: #c9c9c9;
  font-size: 85%;
}

a {
  color: #0fa5d8;
}

a:hover,
a:focus {
  text-decoration: none;
}

.masthead {
  margin: 1rem 0;
  border-bottom: 1px solid #eee;
}

.masthead-title a,
.post-title a {
  color: #0fa5d8;
}

.page,
.post {
  margin-bottom: 2rem;
}

.related {
  padding: 2rem 0;
}

.related h3 {
  margin-top: 0;
}

.related-posts {
  margin: 0;
}

.related-posts h4 {
  margin-top: 0;
}

footer {
  margin-bottom: 2rem;
  color: #c9c9c9;
  border-top: 1px solid #eee;
}

.about {
  margin: 3rem 0;
  height: 100px;
}

.about:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.about * {
  margin: 0;
}

.about a {
  display: block;
}

.about h4 {
  margin-bottom: 1rem;
}

.about img {
  border-radius: 0.25rem;
  float: left;
  margin-right: 1.5rem;
}

.about .text {
  display: inline-block;
  vertical-align: middle;
}
