html {
  font-family: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 38em) {
  html {
    font-size: 19px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

code,
pre {
  font-family: "source-code-pro", Menlo, Monaco, "Courier New", monospace;
}

code {
  font-size: 0.8rem;
}

blockquote {
  border-left-color: #ddd;
}

.post-date {
  display: block;
  color: #c9c9c9;
  font-size: 85%;
}

a {
  color: #515151;
  border-bottom: 2px solid #ddd;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  border-bottom-color: #8c8c8c;
}

article.post > .post-title {
  text-align: center;
  margin-bottom: 1rem;
}

article.post > .post-date {
  margin-bottom: 3rem;
  text-align: center;
}

.post-title a {
  border-bottom: 0;
}

.masthead {
  margin-bottom: 3rem;
}

.masthead-title {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.masthead-title a {
  border-bottom: 0;
}

.masthead-title img {
  display: inline;
  float: left;
  border-radius: 50%;
  margin-bottom: 0;
  margin-right: 1rem;
}

footer {
  margin-bottom: 2rem;
  color: #c9c9c9;
}
