<footer class="footer">
  <div class="about">
    <img alt="Gravatar" src="https://www.gravatar.com/avatar/13e530183883332a1b2e028170c5804f?size=100">
    <div class="text">
      <h4>Julian Grosshauser</h1>
      <a href="https://twitter.com/{{ site.author.twitter }}">@{{ site.author.twitter }}</a>
      <a href="https://{{ site.author.github }}">{{ site.author.github }}</a>
    </div>
  </div>
  <small>
    Copyright &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> Julian Grosshauser. All rights reserved.
  </small>
</footer>
