<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/custom.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">

  <!-- JS -->
  <script src="//use.typekit.net/onc8plc.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}public/apple-touch-icon-120-precomposed.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}public/apple-touch-icon-152-precomposed.png">
  <link rel="shortcut icon" sizes="196x196" href="{{ site.baseurl }}public/android-196.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.png">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">
</head>
